## Tuple

-   Tuples are ordered, immutable (unchangeable) collections of items.

#### Declare tuple

-   A tuple is created with parentheses ()

In [4]:
# A tuple of numbers
numbers_tuple = (1, 2, 3, 4, 5)
print(f"A tuple of numbers: {numbers_tuple}")

A tuple of numbers: (1, 2, 3, 4, 5)

In [5]:
# A tuple of mixed data types
mixed_tuple = ("hello", 100, 3.14, True)
print(f"A mixed tuple: {mixed_tuple}")

A mixed tuple: ('hello', 100, 3.14, True)

In [ ]:
# The "single-item tuple" trick
# This is a common point of confusion.
# A trailing comma is required!

not_a_tuple = "just a string"  # in brackets without the comma in the end!
is_a_tuple = ("hello",)  # Note the comma in the end!

print(f"This is a {type(not_a_tuple)}")
print(f"This is a {type(is_a_tuple)}")

This is a <class 'str'>
This is a <class 'tuple'>

---

#### Accessing tuple items

-   We use square brackets [] just like lists.

In [8]:
fruits = ("apple", "banana", "cherry", "orange")
print(f"The fruits tuple: {fruits}")

The fruits tuple: ('apple', 'banana', 'cherry', 'orange')

In [9]:
# Get the first item (index 0)
print(f"First item: {fruits[0]}")

First item: apple

In [10]:
# Get the items from start with postive index
print(f"First item: {fruits[1]}")

First item: banana

In [11]:
# Get the last item (index -1)
print(f"Last item: {fruits[-1]}")

Last item: orange

In [12]:
# Get the items from end with negative index
print(f"Last item: {fruits[-2]}")

Last item: cherry

In [13]:
# Slicing (get a 'sub-tuple')
# Get items from index 1 up to (but not including) 3
print(f"Slice [1:3]: {fruits[1:3]}")

Slice [1:3]: ('banana', 'cherry')

---

#### Tuples are immutable

In [14]:
my_tuple = (10, 20, 30)
print(f"Original tuple: {my_tuple}")

# Let's try to change the first item...
try:
    my_tuple[0] = 99
except TypeError as e:
    print(f"It failed! Error: {e}")

Original tuple: (10, 20, 30)
It failed! Error: 'tuple' object does not support item assignment

In [15]:
# You also can't add or remove items
my_tuple.append(40)  # This would cause an AttributeError

AttributeError: 'tuple' object has no attribute 'append'

---

#### Useful methods and looping

In [16]:
data = (1, 2, 5, 2, 8, 2, 1)
print(f"Data: {data}")

Data: (1, 2, 5, 2, 8, 2, 1)

In [17]:
# .count() - Count how many times an item appears
print(f"The number 2 appears: {data.count(2)} times")

The number 2 appears: 3 times

In [ ]:
# .index() - Find the *first* index of a value
print(f"The number 5 is at index: {data.index(5)}")

The number 5 is at index: 2

In [19]:
print(f"The number 5 is at index: {data.index(2)}")

The number 5 is at index: 1

In [20]:
# len() - Get the length of a tuple
print(f"The length of the tuple is: {len(data)}")

The length of the tuple is: 7

In [21]:
# Looping through a tuple
print("\n--- Looping ---")
items = ("pen", "paper", "pencil")
for item in items:
    print(f"Item: {item}")

--- Looping ---
Item: pen
Item: paper
Item: pencil

---
---

## Sets

#### Declare set

-   Sets are created with curly braces {}
-   They are _unordered_ and _unique_ (no duplicates).

In [22]:
# A set of colors
colors = {"red", "green", "blue"}
print(f"Set of colors: {colors}")

Set of colors: {'blue', 'green', 'red'}

In [23]:
# Sets automatically remove duplicates
numbers_list = [1, 2, 2, 3, 4, 3, 4, 5, 1]
numbers_set = set(numbers_list)  # type casting

print(f"Original list: {numbers_list}")
print(f"Converted set (duplicates gone): {numbers_set}")

Original list: [1, 2, 2, 3, 4, 3, 4, 5, 1]
Converted set (duplicates gone): {1, 2, 3, 4, 5}

In [24]:
# Creating an EMPTY set (IMPORTANT!)
empty_dict = {}  # This creates an empty DICTIONARY
empty_set = set()  # This creates an empty SET

print(f"Type of {{}}: {type(empty_dict)}")
print(f"Type of set(): {type(empty_set)}")

Type of {}: <class 'dict'>
Type of set(): <class 'set'>

---

#### Add and remove items from set

-   .add()
-   .remove()
-   .discard()

In [25]:
my_set = {"apple", "banana"}
print(f"Original set: {my_set}")

Original set: {'apple', 'banana'}

In [26]:
# 1. .add() - Adds a single item
my_set.add("cherry")
print(f"After adding 'cherry': {my_set}")

After adding 'cherry': {'cherry', 'apple', 'banana'}

In [27]:
# It ignores duplicates
my_set.add("apple")
print(f"After adding 'apple' again: {my_set}")

After adding 'apple' again: {'cherry', 'apple', 'banana'}

In [28]:
# 2. .remove() - Removes an item (causes an ERROR if not found)
my_set.remove("banana")
print(f"After removing 'banana': {my_set}")

After removing 'banana': {'cherry', 'apple'}

In [29]:
# This would cause a KeyError
my_set.remove("kiwi")

KeyError: 'kiwi'

In [30]:
# 3. .discard() - A safer way to remove
# No error if the item doesn't exist
my_set.discard("kiwi")  # No error
print("Successfully discarded 'kiwi' (even though it wasn't there).")

Successfully discarded 'kiwi' (even though it wasn't there).

---

#### Set operations

This is the main reason to use sets.

-   union
-   intersection
-   difference.

In [31]:
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
print(f"Set A: {set_a}")
print(f"Set B: {set_b}")

Set A: {1, 2, 3, 4, 5}
Set B: {4, 5, 6, 7, 8}

In [32]:
# 1. Union (|) - All items from *both* sets
union_set = set_a | set_b
print(f"Union (A | B): {union_set}")

Union (A | B): {1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
# You can also use:
union_set = set_a.union(set_b)
print(f"Union (A | B): {union_set}")

Union (A | B): {1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
# 2. Intersection (&) - Only items in *both* sets
intersection_set = set_a & set_b
print(f"Intersection (A & B): {intersection_set}")

Intersection (A & B): {4, 5}

In [35]:
# You can also use
intersection_set = set_a.intersection(set_b)
print(f"Intersection (A & B): {intersection_set}")

Intersection (A & B): {4, 5}

In [36]:
# 3. Difference (-) - Items in A, but *not* in B
difference_set = set_a - set_b
print(f"Difference (A - B): {difference_set}")

Difference (A - B): {1, 2, 3}

In [37]:
# You can also use
difference_set = set_a.difference(set_b)
print(f"Difference (A - B): {difference_set}")

Difference (A - B): {1, 2, 3}

In [38]:
# 4. Symmetric Difference (^) - Items in one set, but not both
sym_diff_set = set_a ^ set_b
print(f"Symmetric Difference (A ^ B): {sym_diff_set}")

Symmetric Difference (A ^ B): {1, 2, 3, 6, 7, 8}

In [39]:
# You can also use
sym_diff_set = set_a.symmetric_difference(set_b)
print(f"Symmetric Difference (A ^ B): {sym_diff_set}")

Symmetric Difference (A ^ B): {1, 2, 3, 6, 7, 8}

---

#### Looping and `in` keyword in set

In [40]:
permissions = {"admin", "user", "guest"}
print(f"Permissions set: {permissions}")

Permissions set: {'user', 'guest', 'admin'}

In [41]:
# 1. Looping
# Note: The order is NOT guaranteed!
print("\n--- Looping ---")
for role in permissions:
    print(f"Role: {role}")

--- Looping ---
Role: user
Role: guest
Role: admin

In [42]:
# 2. 'in'
# This is VERY fast in sets (much faster than lists).
print(f"Is 'user' in permissions? {'user' in permissions}")
print(f"Is 'manager' in permissions? {'manager' in permissions}")

Is 'user' in permissions? True
Is 'manager' in permissions? False