## Python Basics

---

#### 1. Print "Hello World"

In [1]:
print("Hello World!!!")

Hello World!!!

---

#### 2. Variables

In [47]:
# Variable
name = "Yash"  # string varibale
experience_years = 6  # integer variable
height = 173.6  # float vairable
person = True  # boolean variable

# type (class) is used to print the type of a variable in python
print(type(name))
print(type(experience_years))
print(type(height))
print(type(person))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

Variable naming convention - `snake case`

In [48]:
first_name = "Yash"
last_name = "Jain"

is_name_str = True

is_coder = True

---

#### 3. Conditional statements

1. if
2. elif
3. else

In [51]:
age = 20

if age >= 18:
    print("You are an adult.")
elif age >= 13:
    print("You are a teenager.")
else:
    print("You are a child.")

You are an adult.

---

#### 4. Loops

1. for
2. while

In [ ]:
# For loop
for i in range(5):  # [0, 5)
    print("Count:", i)

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

In [53]:
# While loop
count = 0
while count < 5:
    print("Count:", count)
    count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

---

#### 5. Print with variable in python

In [54]:
age = 18

print("Your age is:", age)

Your age is: 18

F-string in python - pass `variable` as a `parameter` in the string

In [55]:
age = 18
hobby = "coding"

print(f"Your age is {age} and i like {hobby}")

Your age is 18 and i like coding

---

#### 6. Functions

In [56]:
def greet(name):
    print("Hello", name)


greet("Yash")

Hello Yash

In [57]:
def add(num1, num2):
    return num1 + num2


result = add(1, 2)
print("Sum:", result)

Sum: 3

---

#### 7. Data structure in Python

1. Lists
2. Tuples
3. Sets
4. Dictionaries

In [58]:
# List (mutable)
fruits = ["apple", "banana", "mango"]
print(fruits)

['apple', 'banana', 'mango']

In [59]:
print(type(fruits))

<class 'list'>

In [60]:
# How to append anything to the list
fruits.append("orange")
print(fruits)

['apple', 'banana', 'mango', 'orange']

In [61]:
# Tuple (immutable)
numbers = (1, 2, 3, 4)
print(numbers)

(1, 2, 3, 4)

In [62]:
print(type(numbers))

<class 'tuple'>

In [63]:
# Set
unique_nums = {1, 2, 2, 3, 4}
print(unique_nums)

{1, 2, 3, 4}

In [64]:
print(type(unique_nums))

<class 'set'>

In [65]:
# How to append anything to the set
unique_nums.add(5)
print(unique_nums)

{1, 2, 3, 4, 5}

In [66]:
# Dictionary (its like a json object)
person = {
    "name": "Yash",
    "experience_years": 6,
    "is_coder": True,
}
print(person)

{'name': 'Yash', 'experience_years': 6, 'is_coder': True}

In [67]:
print(type(person))

<class 'dict'>

In [68]:
# How to call a specific key in dictionary
person_name = person["name"]
print(person_name)

Yash

In [69]:
# How to add a new key in dictionary
person["hobby"] = "Table Tennis"
print(person)

{'name': 'Yash', 'experience_years': 6, 'is_coder': True, 'hobby': 'Table Tennis'}