## Operators

#### Arithmetic Operators

-   Addtion
-   Subtraction
-   Multiplication
-   Division (float)
-   Floor Division
-   Module (remainder)
-   Exponentiation

In [1]:
## Addtion
num1 = 10
num2 = 20

num3 = num1 + num2
print(num3)

30

In [2]:
## Subtraction
num1 = 10
num2 = 20

num3 = num1 - num2
print(num3)

-10

In [3]:
## Multiplication
num1 = 10
num2 = 20

num3 = num1 * num2
print(num3)

200

In [9]:
## Division float
num1 = 25
num2 = 20

num3 = num1 / num2
print(num3)

1.25

In [8]:
## Division Floor
num1 = 45
num2 = 20

num3 = num1 // num2
print(num3)

2

In [12]:
## Module
num1 = 41
num2 = 20

num3 = num1 % num2
print(num3)

1

In [ ]:
## Exponential
num1 = 5

num2 = num1**5
print(num2)

3125

#### Comparison Operators

-   Equal to
-   Not equal
-   Greater than
-   Less than
-   Greater or equal
-   Less or equal

In [18]:
## Equal to
num1 = 10
num2 = 20

print(num1 == num2)

False

In [ ]:
## Not Equal to
num1 = 10
num2 = 20

print(num1 != num2)

True

In [20]:
## Greater than
num1 = 10
num2 = 20

print(num1 > num2)

False

In [21]:
## Less than
num1 = 10
num2 = 20

print(num1 < num2)

True

In [25]:
## Greater or equal to
num1 = 19
num2 = 20

print(num1 >= num2)

False

In [28]:
## Less or equal to
num1 = 21
num2 = 20

print(num1 <= num2)

False

#### Logical Operators

-   and
-   or
-   not

In [30]:
## and
num1 = 10
num2 = 20

result = num1 == 10 and num2 == 10
print(result)

False

In [35]:
## or
num1 = 10
num2 = 20

result = num1 == 11 or num2 == 21 or 10 == 10
print(result)

True

In [ ]:
## not
num1 = 10
num2 = 20

result = not num1 == 11
print(result)

True

#### Assignment Operators

-   =
-   +=
-   -=
-   \*=
-   /=
-   //=
-   %=
-   \*\*=

In [38]:
# equal to
num1 = 10

In [ ]:
# +=
num1 += 20  # num1 = num1 + 20
print(num1)

30

In [ ]:
# +=
num1 += 20  # num1 = num1 + 20
print(num1)

10

In [ ]:
# *=
num1 *= 20  # num1 = num1 * 20
print(num1)

200

In [ ]:
# /=
num1 /= 20  # num1 = num1 / 20
print(num1)

10.0

In [ ]:
# //=
num1 //= 20  # num1 = num1 // 20
print(num1)

0.0

In [ ]:
# %=
num1 = 22
num1 %= 20  # num1 = num1 % 20
print(num1)

2

In [ ]:
# %=
num1 = 2
num1 **= 5  # num1 = num1 ** 5
print(num1)

32